<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/silueta_fondo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG"
        tools:targetApi="31">

        <activity
            android:name=".InformacionAnimalesControlador"
            android:exported="false" />
        <activity
            android:name=".ListadoAnimales"
            android:exported="false" />
        <activity
            android:name=".ComprasControlador"
            android:exported="false" />
        <activity
            android:name=".VentasControlador"
            android:exported="false" />
        <activity
            android:name=".MuertesControlador"
            android:exported="false" />
        <activity
            android:name=".NacimientosControlador"
            android:exported="false" />
        <activity
            android:name=".IncidenciasControlador"
            android:exported="false" />
        <activity
            android:name=".SaneamientoControlador"
            android:exported="false" />
        <activity
            android:name=".UbicacionControlador"
            android:exported="false" />
        <activity
            android:name=".AlimentacionControlador"
            android:exported="false" />
        <activity
            android:name=".AnimalesControlador"
            android:exported="false" />
        <activity
            android:name=".AltasControlador"
            android:exported="false" />
        <activity
            android:name=".BajasControlador"
            android:exported="false" />

        <activity
            android:name=".MenuControlador"
            android:exported="false" />
        <activity
            android:name=".InicioControlador"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>