<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fondo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG_GestionGanadera"
        tools:targetApi="31">
        <activity
            android:name=".DetalleActivity"
            android:exported="false"
            android:label="@string/title_activity_detalle"
            android:theme="@style/Theme.TFG_GestionGanadera.NoActionBar" />
        <activity
            android:name=".MainAnimales"
            android:exported="false" />
        <activity
            android:name=".Controladores.AnimalesControlador"
            android:exported="false" />
        <activity
            android:name=".RegistroExplotacionControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.ComprasControlador$RegistroExplotacionControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.InformacionAnimalesControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.ComprasControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.VentasControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.MuertesControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.IncidenciasControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.SaneamientoControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.UbicacionControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.AlimentacionControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.AltasControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.BajasControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.MenuControlador"
            android:exported="false" />
        <activity
            android:name=".Controladores.InicioControlador"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>